<h1>Arist Log In</h1>

<%= form_tag(session_path) do %>
  <h3><%= label_tag :email %></h3>
      <%= email_field_tag :email, nil, autofocus: true, required: true %>
  <h3><%= label_tag :password %></h3>
      <%= password_field_tag :password, nil, required: true %><br>
  <%= submit_tag "Get in there, tiger" %>
<% end %>
