<%= form_for(@piece) do |f| %>
  <h3><%= f.label :title %></h3>
  <%= f.text_field :title %><br>
  <h3><%= f.label :medium %></h3>
  <%= f.text_field :medium %><br>
  <p><%= f.label :description %></p>
  <%= f.text_area :description %>
  <p><%= f.label :size %></p>
  <%= f.text_field :size %><br>
  <p><%= f.label :rental_price_per_day %></p>
  <%= f.text_field :rental_price_per_day %><br>
  <p><%= f.label :rental_price_per_week %></p>
  <%= f.text_field :rental_price_per_week %><br>
  <p><%= f.label :rental_price_per_month %></p>
  <%= f.text_field :rental_price_per_month %>
  <p><%= f.label "Check box to mark piece as available: " %><%= f.check_box :available?, checked: true %></p>
  <p><%= f.label "Check box to mark piece as sold: " %>  <%= f.check_box :sold? %></p>
  <%= f.submit %>
<% end %>
