<%= form_for(@piece) do |f| %>
  <%= render 'shared/errors' %>
  <h3><%= f.label :title %></h3>
  <%= f.text_field :title %><br>

  <h3><%= f.label :medium %></h3>
  <%= f.text_field :medium %><br>

  <p><%= f.label :description %></p>
  <%= f.text_area :description, placeholder: 'Keep it simple, but significant. Less than 500 characters.' %><br>

  <p><%= f.label :size %></p>
  <%= f.text_field :size %><br>

  <p><%= f.label :rental_price_per_day %></p>
  <%= f.number_field :rental_price_per_day %><br>

  <p><%= f.label :rental_price_per_week %></p>
  <%= f.number_field :rental_price_per_week %><br>

  <p><%= f.label :rental_price_per_month %></p>
  <%= f.number_field :rental_price_per_month %><br>

  <p><%= f.label :sale_price %></p>
  <%= f.number_field :sale_price %><br>

  <h4>Quick heads up: make sure both boxes below are not checked at the same time.</h4>
  <p><%= f.label "Mark piece as available: " %><%= f.check_box :available? %></p>
  <p><%= f.label "Mark piece as sold: " %>  <%= f.check_box :sold? %></p>

  <%= f.submit %>
<% end %>
