<h1>We found <%= pluralize(@pieces.size, 'piece') %> for you to check out today: </h1>
<% @pieces.each do |p| %><br>
  <h1><em><%= link_to(p.title, piece_path(p.id)) %></em> (<em><%= p.medium %></em>)</h1>
  <%= image_tag p.picture.url(:thumb) %>
  <p><em><%= p.description %></em></p>
  <p><em><%= p.size %></em></p>
  <p><em><%= number_to_currency(p.rental_price_per_day) %> per day / <%= number_to_currency(p.rental_price_per_week) %> per week / <%= number_to_currency(p.rental_price_per_month) %> per month</em></p>
  <p><em>Sale price: <%= number_to_currency(p.sale_price) %></p></em>
  <p><em>Status: <%= availability_status(p) %></em</p><br>
  <h4><em>Updated <%= time_ago_in_words(p.updated_at) %> ago</em></h4>
<% end %>
