<!DOCTYPE html>
<html>
<head>
  <title>ArtCbus</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<p><%= link_to("Home", root_path) %> | <%= link_to("About", about_path) %> | <%= link_to("Contact", contact_path) %></p>

<div class='container'>
  <%= render 'shared/flashes' %>
  <%= yield %>
</div>

</body>
</html>
